<div class="hero py-20 bg-black">
  <div class="text-center">
    <div class="max-w-full mx-4">
      <h3 class="text-5xl font-bold">
            "We are not just building a NFT Marketplace in Cardano, we are creating the API that integrates with VR headsets.
            This will allow game developers to use Cardano NFTs in their VR/AR games and allow the Cardano community to prosper." 
      </h3> 
    </div>
  </div>
</div>