# If you run "mix test --cover", coverage assets end up here.
/cover/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
metaitems-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log

/_build/
/deps/
/doc/
/node_modules/
/tmp/

/assets/node_modules/

/installer/_build/
/installer/assets/
/installer/deps/
/installer/doc/
/installer/phx_new-*.ez

/integration_test/_build/
/integration_test/deps/

erl_crash.dump
phoenix-*.ez
old_Dockerfile

