<%= if !@current_user do %>
  <%= live_component MetaitemsWeb.UserLive.RegistrationComponent,
    id: 1, changeset: @changeset, trigger_submit: @trigger_submit %>
  <%#= render(MetaitemsWeb.PageView, "index.html", assigns) %>
<% else %>
  <ul>
    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@socket, :home) %></li>
    <% end %>
  </ul>
<% end %>

